.header {
    height: 70px;
    background-color: #082D0F;
    font-family: 'Press Start 2P', cursive;
    border-bottom: #7D1128 solid 2px;
}

a {
    color: white;
}

a:hover {
    color: #39ff53;
    -webkit-text-stroke-width: 0.07em;
    -webkit-text-stroke-color: #7D1128;
}